---
import { fetchPost } from "../../lib/github";
import { toHTML } from "../../lib/markdown";

const { slug } = Astro.params;

if (!slug) {
  return new Response("Not Found", { status: 404 });
}

let html = "";

try {
  const md = await fetchPost(slug);

  if (!md) {
    throw new Error("Empty markdown");
  }

  html = toHTML(md);
} catch (e) {
  console.error("Blog render error:", e);

  return new Response("Post Not Found", {
    status: 404
  });
}
---

<html>
  <head>
    <title>{slug}</title>
  </head>

  <body>
    <article set:html={html} />
  </body>
</html>