---
const repo = "wjq-glarysoft/astro-ssr-blog";

const res = await fetch(
  `https://api.github.com/repos/${repo}/contents/src/content/posts`
);

const files: any[] = await res.json();

const posts = files
  .filter((f: any) => f.name.endsWith(".md"))
  .map((f: any) => ({
    slug: f.name.replace(".md", "")
  }));
---

<h1>Blog</h1>

<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.slug}`}>{post.slug}</a>
    </li>
  ))}
</ul>